/venv/
/.idea
**/__pycache__/
**/.pytest_cache/
.job_cache/
logs/
/.ipynb_checkpoints/
**/output/
**/.DS_Store
*.pyc
.env
dist
*.csv
*.txt
INSTALLER
METADATA
RECORD
WHEEL
.venv-jobspy/**
.vscode/**
archive*/**
